rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null && request.auth.token.role == 'admin';
    }

    function isValidImage() {
      return request.resource.size < 8 * 1024 * 1024 // 8MB max
        && request.resource.contentType.matches('image/.*');
    }

    match /settings/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && isValidImage();
    }

    match /branches/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && isValidImage();
    }

    match /categories/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && isValidImage();
    }

    match /services/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && isValidImage();
    }

    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && isValidImage();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
